<!DOCTYPE html>
<html lang="pt-br">
  <%- include('partials/_head') %>
  <body style="font-family: 'Montserrat', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;">
  <link rel="stylesheet" href="/css/cadastro.css">

    <%- include('partials/_navbar') %>

    <main class="container" style="padding: 1rem 0;">
      <%- body %>
    </main>

    <%- include('partials/_footer') %>

    
    <script src="/js/api.js" defer></script>
    <script src="/js/auth.js" defer></script>
    <script src="/js/categorias.js" defer></script>
    <script src="/js/navbar.js" defer></script>
    <script src="/js/cadastro.js" defer></script>
    <script src="/js/categorias.js" defer></script>

  </body>
</html>
